.App{
  text-align: left;
  background-color: #222222;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  height: 100vh;
  width: 100%;
  color: #222222;
  letter-spacing: .05em;
}

.header-container{
  width: 100%;
  height: 75px;
  background-color: #57a3d5;
  display: flex;
  flex-direction: row;
}

.home-text{ 
  font-weight: 800;
  color: #222222;
  margin: auto 0;
  padding: 0 30px;
}

.body{
  width: 80%;
  margin: 90px auto;
  display: block;
}

.personInfo-container{
  background-color: lightgray;
  display: relative;
  /* padding: 20px; */
}

.userIndex{
  text-align: right;
  font-size: 23px;
  font-weight: 850;
  padding: 6px 6px;
  /* margin: 30px 100px; */
}

.userInfo{
  margin: -30px 0 0 0;
  padding: 0 0 35px 50px;
}

.userName{
  width: auto;
  color: #222222;
  font-weight: 800;
  font-size: 25px;
  text-decoration: solid underline #57a3d5;  
}

p, ol{
  font-size: 16px;
  line-height: 24px;
}

.strongText{
  font-weight: 800;
}

ol{
  text-align: left;
  margin: -15px 0 0 0;
}










.button-container{
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navButton{
  color: white;
  font-weight: 900;
  font-size: 16px;
  background-color: transparent;
  border: none;
}

.editButton{
  margin: 0 6px;
  padding: 5px 10px;
  background-color: #57a3d5;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 900;
  font-size: 11px;
}


